<ng-progress #progressBar [meteor]="options.meteor" [color]="options.color" [min]="options.min" [speed]="options.speed" [spinner]="options.spinner" [max]="options.max"
  [spinnerPosition]="options.spinnerPosition" [direction]="options.direction" [thick]="options.thick" [trickleSpeed]="options.trickleSpeed"
  [ease]="options.ease" (started)="onStarted()" (completed)="onCompleted()">
</ng-progress>


<ul>
	<li>
		<a routerLink="/"> Home </a>
  </li>
  
	<li>
		<a [routerLink]="[ '/about' ]">About</a>
  </li>
  
  <li>
		<a [routerLink]="[ '/contact' ]">Contact</a>
	</li>
	<li>
		<a [routerLink]="[ '/login' ]">Login</a>
	</li>
</ul>

<router-outlet></router-outlet>


<router-outlet></router-outlet>